.Whole_MainPage {
  display: flex;
  overflow: flex-wrap;
  width: 80%;
  max-width: 800px;

  height: 100vh;
  padding-top: 70px;
  margin: 0;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
}

.DogImageCard_MainPage {
  max-width: 300px;
  justify-content: center;
  background-color: lightgray;
  height: auto;
  min-width: 300px;
  margin: 10px;
  width: 40%;
  transition: background-color 1s ease;
  max-height: 380px !important;
}

.UserFilters_SettingsPage {
  padding: 20px;

  max-width: 300px;
  justify-content: center;
  text-align: center;
  background-color: lightgray;
  height: auto;
  min-width: 300px;
  margin: 10px;
  width: 40%;
  transition: background-color 1s ease;
  max-height: 380px !important;
}

.DogImageCard_MainPage:hover {
  background-color: lightblue;
}

#MainDogImage_MainPage {
  height: auto;
  width: 100%;
}

.SmallDogImage_MainPage {
  border-radius: 10px;
  height: 25%;
  width: 25%;
  padding: 3px;
}

.SmallDogImageGrid_MainPage {
  width: 100%;
  padding-left: 0px;
  justify-content: center;
  display: flex;
}

.BorderRadius10px_MainPage {
  border-radius: 10px;
}

.EmojiCard_MainPage {
  max-width: 300px;

  background-color: white;
  min-width: 300px;
  margin: 10px;
  justify-content: center;
  width: 40%;
  height: 60px;
  align-items: center;
  background-color: lightgray;
  text-align: center;
  display: inline-block;
  transition: background-color 1s ease;
}
.EmojiCard_MainPage:hover {
  background-color: lightblue;
}
.InnerEmojiCard_MainPage {
  justify-content: center;
  max-height: 500px;
  font-size: 30pt;
  display: block;
  overflow: hidden;
}

.Emojis_MainPage {
  justify-content: center;
  display: inline-block;
}
.footer {
  justify-content: center;
  bottom: 0;
  left: 0;
  width: 30s;
  height: 100px;
  position: fixed;
  background-color: pink;
  padding: 10px;
}

.RootofRoot_MainPage {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: white;
}

.Varient2LeftMenuBar_MainPage {
  background-color: black;
  top: 150px;
  height: 600px;
  left: 2px;
  width: 35px;
  justify-content: center;
  color: white;
  padding: 0px;
  border-radius: 20px;
  text-align: center;
  transition: background-color 1s ease;
  position: fixed;
}

.Varient2RightMenuBar_MainPage {
  background-color: black;
  top: 150px;
  height: 600px;
  right: 2px;
  width: 35px;
  justify-content: center;
  color: white;
  padding: 0px;
  border-radius: 20px;
  text-align: center;
  transition: background-color 1s ease;
  position: fixed;
}

.innerPage_MainPage {
  background-color: yellow;
  width: 35px;
  justify-content: center;

  height: 300px;
  transition: background-color 1s ease;
}

.TopInnerPage_MainPage {
  /* background-color: yellow; */
  width: 35px;
  justify-content: center;
  border-radius: 20px;
  height: 100px;
  transition: background-color 1s ease;
}

.TopInnerPage_MainPage:hover {
  animation: strobe 1s infinite;
}

@keyframes strobe {
  0% {
    background-color: white;
  }
  50% {
    background-color: lightblue;
  }
}

.BottomInnerPage_MainPage {
  /* background-color: yellow; */
  width: 35px;
  justify-content: center;
  border-radius: 20px;
  height: 500px;
  transition: background-color 1s ease;
}

.BottomInnerPage_MainPage:hover {
  animation: strobe 1s infinite;
}

@keyframes strobe {
  0% {
    background-color: white;
  }
  50% {
    background-color: lightblue;
  }
}

.TopHomeIcon_MainPage {
  padding: 0;
  left: 7px;
  top: 185px;
  position: fixed;
}

.RightTopHomeIcon_MainPage {
  padding: 0;
  right: 7px;
  top: 185px;
  position: fixed;
}

.RightBottomHomeIcon_MainPage {
  border-radius: 20px;

  padding: 0;
  right: 8px;
  top: 480px;
  position: fixed;
}

.BottomHomeIcon_MainPage {
  border-radius: 20px;

  padding: 0;
  left: 8px;
  top: 480px;
  position: fixed;
}

.xMarkBottomHomeIcon_MainPage {
  border-radius: 20px;

  padding: 0;
  left: 2px;
  top: 480px;
  position: fixed;
}

.LeftMenuBar_MainPage {
  background-color: black;
  top: 150px;
  height: 600px;
  left: 2px;
  width: 35px;
  justify-content: center;
  color: white;
  padding: 0px;
  border-radius: 20px;
  text-align: center;
  transition: background-color 1s ease;
  position: fixed;
}
.RightMenuBar_MainPage {
  background-color: black;
  top: 150px;
  height: 600px;
  right: 3px;
  width: 35px;
  justify-content: center;
  color: white;
  padding: 0px;
  border-radius: 20px;
  position: fixed;
  text-align: center;
  transition: background-color 1s ease;
}

.RightMenuBar_MainPage:hover {
  background-color: green;
}

.LeftMenuBar_MainPage:hover {
  background-color: red;
}
#HomeIcon_MainPage {
  height: 90px;
}

.HomeButton_MainPage {
  padding-top: 20px;
}

.Whole_LoginPage {
  display: flex;
  overflow: wrap;
  width: 100vw;
  background-color: white;

  height: 100vh;

  margin: 0;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
}

.UserInput_LoginPage {
  margin-top: 220px;

  padding: 5px;
  text-align: center;
  justify-content: center;
  padding: 30px;
  width: 300px;
  height: 260;
  display: inline-block;

  background-color: lightgray;
  border-radius: 30px;
}

.UserInput_SignUpPage {
  margin-top: 220px;
  padding: 5px;
  text-align: center;
  justify-content: center;
  padding: 30px;
  width: 300px;
  height: 500px;
  display: inline-block;

  background-color: lightgray;
  border-radius: 30px;
}

.InputField_LoginPage {
  border-radius: 10px;
  border-style: none;

  margin: 3px;
  padding: 4px;
  width: 100%;
}

.BottomText_LoginPage {
  font-size: 30px;
}

.InputField_SettingsPage {
  border-radius: 10px;
  border-style: none;
  height: 30px;
  margin: 3px;
  padding: 4px;
  justify-content: center;

  width: 90%;
}

.UserInfo_SettingsPage {
  justify-content: center;
  display: flex;

  text-align: center;
}

.UserInput_SettingsPage {
  padding: 5px;
  margin: 10px;

  justify-content: center;
}

.EditButtons_SettingsPage {
  display: flex;
  width: 93;
  margin: 10px;
  padding: auto;
}

.modalBackdrop_SettingsPage {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;

  align-items: center;
  overflow-y: scroll;
}

.modalContent_SettingsPage {
  padding: 20px;
  z-index: 10000;
  overflow-y: scroll;
  height: 500 !important;
  margin: 10px;
  border-radius: px;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.closeButton_SettingsPage {
  z-index: 10000;
  border-radius: 10px;
  border-style: none;
  width: 100px;
  font-size: 20pt;
  padding: 4px;
  margin: 4px;
}
.generalInfo_SettingsPage {
  max-width: 300px;

  background-color: lightgray;
  height: 260px;
  min-width: 300px;
  margin: 10px;
  width: 40%;
  transition: background-color 1s ease;
  max-height: 380px !important;
}

.traits_SettingsPage {
  max-width: 300px;
  padding: 20px;

  text-align: center;
  background-color: lightgray;
  height: 240px;
  min-width: 300px;

  margin: 10px;
  width: 40%;
  transition: background-color 1s ease;
  max-height: 380px !important;
}

.EmojiCard_MainPage {
  display: flex;

  flex-wrap: wrap;
  padding: 10px;
}

.BorderRadius10px_MainPage {
  border-radius: 10px;
}

.Emojis_MainPage {
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.Emojis_MainPage.selected {
  background-color: #007bff; /* Highlight color */
  color: white;
}

.RangeSlider_SettingsPage {
  justify-content: center;
  width: 300;
}

.Distance_SettingsPage {
  padding: 20px;
  max-width: 300px;
  justify-content: center;
  text-align: center;
  background-color: lightgray;
  height: 240px;
  min-width: 300px;
  margin: 10px;
  width: 0%;
  transition: background-color 1s ease;
  max-height: 380px !important;
}

.InnerFlexDistance_SettingsPage {
  justify-content: center;
  padding: 20 px;
  display: flex;
}

.SliderInnerFlexDistance_SettingsPage {
  margin-right: 30px;
}

.traitSelector_filterPage {
  margin-bottom: 20px;
}

.label_filterPage {
  display: block;
  margin-bottom: 2px;
  font-weight: bold;
}

.sliderContainer_filterPage {
  display: flex;
  gap: -30;
}

.sliderMin_filterPage,
.sliderMax_filterPage {
  width: calc(50% - 1px);
  cursor: pointer;
  height: 8px;
  border-radius: 5px;
  background: #007bff;
  outline: none;
}

.sliderMin_filterPage::-webkit-slider-thumb,
.sliderMax_filterPage::-webkit-slider-thumb {
  width: 10px;
  height: 16px;
  background: white;
  border: 2px solid #007bff;
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
}

.sliderMin_filterPage {
  direction: rtl;
}

.modalBackdrop_filterPage {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent_filterPage {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
}

.closeButton_filterPage {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.closeButton_filterPage:hover {
  background-color: #0056b3;
}

.InputField_filterPage {
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #28a745;
  border: none;
  color: white;
}
